<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <link rel="stylesheet" href="css/style.css"> --}}
  {{!-- Bootstrap style --}}
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css' rel='stylesheet' 
  integrity='sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM' crossorigin='anonymous'/>

  <title>Document</title>
</head>


<body style="margin:2% 4%" >
 <header>
  <h1>The Tech Blog</h1>
  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/api/dashboard">Dashboard</a></li>
  {{#if loggedIn}}
    <li><a id="logOutBtn">Logout</a></li>
  {{else}}
    <li><a href="/api/login">Log In</a></li>
  {{/if}}
  
  </ul>
 </header> 
 <main>
  {{{body}}}
 </main>
 <footer></footer>
{{!-- BOOTSTRAP JS --}}
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz' crossorigin='anonymous'>
    </script>
    {{!-- SCRIPTS --}}
    <script src="../js/logout.js"></script> 
</body>
</html>