<h1>DASHBOARD</h1>
<div class="card post-div" style=" margin-bottom:3%">
    <h4 style="text-align:center" >Add a new post</h4>
    <div class="card-footer">
        <form class="form-inline">
            
            <div class="form-group mx-sm-3 mb-2"  >
                <input id="newPostTitle" class="form-control"  placeholder="Post Title" style="margin: 1%; width:35%" >
                <input id="newPostBody" class="form-control"  placeholder="Content" style="margin: 1%" >
                <button id="addPost" class="btn btn-primary" style="height:35px; margin-top:1.2%" >Submit</button>
            </div>
        </form>
    </div>
</div>

    {{#each myposts}}
    <div class="card post-div" style=" margin-bottom:3% " id="{{id}}">
        {{> posts}}
        <p class="card-text" style="text-align:center; margin-top:2%" >{{content}}</p>
    </div>    
    {{/each}}




<script src="../js/addPost.js"></script> 