<div style="padding: 5%">
    <form class="signup-form">
      <div class="form-group" style="margin-bottom:3%">
          <label>Create your Username</label>
          <input type="username" class="form-control" id="signUpUser" placeholder="Enter Username">
      </div>
      <div class="form-group" style="margin-bottom:3%">
          <label>Email address</label>
          <input type="email" class="form-control" id="signUpMail" placeholder="Enter email">
      </div>
      <div class="form-group" style="margin-bottom:3%">
          <label>Password</label>
          <input type="password" class="form-control" id="signUpPassword" placeholder="Password">
      </div>
      {{!-- <div class="form-group" style="margin-bottom:3%">
          <label>Retype your Password</label>
          <input type="password" class="form-control" id="signUpPassword2" placeholder="Retype Password">
      </div> --}}
      <button type="submit" class="btn btn-primary" style="margin-bottom:3%">Submit</button>
    </form>
    Already have an account?
    <button type="submit" class="btn btn-secondary"><a href="/api/login">Login</a></button>
</div>
<script src="../js/signup.js"></script> 